<div class="container-fluid">
  <h1>Animation</h1>
    <div class="row">
        <div class="col-md-4">
            <form method="post" action="/animate">
                <div class="form-group">
                    <label for="color">Color (Hex)</label>
                    <input type="color" name="color" class="form-control" id="color" value=
                        {% if color_animate %}
                           {{ "#" + color_animate }}
                        {% else %}
                           "#c9751c"
                        {% endif %}>
                </div>
                <div class="form-group">
                    <label for="duration">Duration (ms)</label>
                    <input type="number" name="duration" class="form-control" id="duration" max="100000" value=
                        {% if duration_animate %}
                           {{ duration_animate }}
                        {% else %}
                           "1000"
                        {% endif %}>
                </div>
                <div class="form-group">
                    <label for="ease">Ease (see <a href="https://github.com/asweigart/pytweening">PyTweening</a>)</label>
                      <select class="form-control" name="ease" id="ease">
                        <option {% if ease_animate == "linear" %}selected="selected" {% endif %}value="linear">linear</option>
                        <option {% if ease_animate == "easeInQuad" %}selected="selected" {% endif %}value="easeInQuad">easeInQuad</option>
                        <option {% if ease_animate == "easeInExpo" %}selected="selected" {% endif %}value="easeInExpo">easeInExpo</option>
                        <option {% if ease_animate == "easeInBounce" %}selected="selected" {% endif %}value="easeInBounce">easeInBounce</option>
                        <option {% if ease_animate == "easeInElastic" %}selected="selected" {% endif %}value="easeInElastic">easeInElastic</option>
                        <option {% if ease_animate == "easeInCirc" %}selected="selected" {% endif %}value="easeInCirc">easeInCirc</option>
                      </select>
                <div class="mdc-select">
                  <i class="mdc-select__dropdown-icon"></i>
                  <select class="mdc-select__native-control">
                    <option value="" disabled selected></option>
                    <option value="linear">
                      linear
                    </option>
                    <option value="easeInQuad">
                      easeInQuad
                    </option>
                    <option value="easeInExpo">
                      easeInExpo
                    </option>
                  </select>
                  <label class="mdc-floating-label">Pick a Food Group</label>
                  <div class="mdc-line-ripple"></div>
                </div>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>
